# Corporate Sustainability Data Analysis

Research Question: Can companies be both sustainable and profitable?

See Dataset and the 3 Tests We Performed Below

In [6]:
import pandas as pd

refinitiv = pd.read_csv("CS216 Data from Refinitiv.xlsx - Sheet1.csv", skiprows=0, header=0).dropna(how='all') 
refinitiv = refinitiv.drop(0)
df = refinitiv
# df = df.dropna(subset=[df.columns[1]])
refinitiv.head()

,#NAME?,Company Common Name,TRBC Industry Name,Country of Headquarters,Country of Exchange,Company Market Cap,ESG Score,EBIT Margin - %,EBIT Margin - %.1,EBIT Margin - %.2,...,Quick Ratio,Quick Ratio.1,Quick Ratio.2,Quick Ratio.3,Quick Ratio.4,Quick Ratio.5,Quick Ratio.6,Quick Ratio.7,Quick Ratio.8,Quick Ratio.9
1,NaN,NaN,NaN,NaN,NaN,NaN,FY0,FY0,FY-1,FY-2,...,FY0,FY-1,FY-2,FY-3,FY-4,FY-5,FY-6,FY-7,FY-8,FY-9
2,DE.N,Deere & Co,Heavy Machinery & Vehicles,United States of America,United States of America,119.2963839,72.53285105,19.38519,19.3367,16.08329,...,0.60782,0.72409,0.7985,0.64867,0.63008,0.87919,0.74955,0.678,0.65234,0.58741
3,FTV.N,Fortive Corp,Industrial Machinery & Equipment,United States of America,United States of America,23.28992775,52.28061879,17.2563,15.82393,12.21733,...,0.71149,0.53896,1.3952,0.87924,1.18457,1.47051,1.32567,0.80937,0.91222,0.90884
4,ET.N,Energy Transfer LP,Oil & Gas Transportation Services,United States of America,United States of America,37.47553043,35.15829576,9.03912,13.07237,15.04338,...,0.92785,0.78662,0.77292,0.768,0.5449,1.09675,0.66566,0.76864,0.69909,0.72754
5,COP.N,Conocophillips,Oil & Gas Exploration and Production,United States of America,United States of America,121.5242042,69.15836688,32.61141,26.99223,-5.24382,...,1.36452,1.23467,2.06187,2.25571,1.65882,1.64435,1.09871,0.82811,1.19069,1.22493

In [7]:

df.loc[1] = df.loc[1].replace('FY0', 2022)
df.loc[1] = df.loc[1].replace('FY-1', 2021)
df.loc[1] = df.loc[1].replace('FY-2', 2020)
df.loc[1] = df.loc[1].replace('FY-3', 2019)
df.loc[1] = df.loc[1].replace('FY-4', 2018)
df.loc[1] = df.loc[1].replace('FY-5', 2017)
df.loc[1] = df.loc[1].replace('FY-6', 2016)
df.loc[1] = df.loc[1].replace('FY-7', 2015)
df.loc[1] = df.loc[1].replace('FY-8', 2014)
df.loc[1] = df.loc[1].replace('FY-9', 2013)
df.head()

,#NAME?,Company Common Name,TRBC Industry Name,Country of Headquarters,Country of Exchange,Company Market Cap,ESG Score,EBIT Margin - %,EBIT Margin - %.1,EBIT Margin - %.2,...,Quick Ratio,Quick Ratio.1,Quick Ratio.2,Quick Ratio.3,Quick Ratio.4,Quick Ratio.5,Quick Ratio.6,Quick Ratio.7,Quick Ratio.8,Quick Ratio.9
1,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,2022.0,2021.0,2020.0,...,2022.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0
2,DE.N,Deere & Co,Heavy Machinery & Vehicles,United States of America,United States of America,119.2963839,72.53285105,19.38519,19.3367,16.08329,...,0.60782,0.72409,0.7985,0.64867,0.63008,0.87919,0.74955,0.678,0.65234,0.58741
3,FTV.N,Fortive Corp,Industrial Machinery & Equipment,United States of America,United States of America,23.28992775,52.28061879,17.2563,15.82393,12.21733,...,0.71149,0.53896,1.3952,0.87924,1.18457,1.47051,1.32567,0.80937,0.91222,0.90884
4,ET.N,Energy Transfer LP,Oil & Gas Transportation Services,United States of America,United States of America,37.47553043,35.15829576,9.03912,13.07237,15.04338,...,0.92785,0.78662,0.77292,0.768,0.5449,1.09675,0.66566,0.76864,0.69909,0.72754
5,COP.N,Conocophillips,Oil & Gas Exploration and Production,United States of America,United States of America,121.5242042,69.15836688,32.61141,26.99223,-5.24382,...,1.36452,1.23467,2.06187,2.25571,1.65882,1.64435,1.09871,0.82811,1.19069,1.22493

In [8]:
#filtering df for key columns
filtered_df = df[['Company Common Name', 'ESG Score', 'Gross Profit Margin - %', 'Return on Average Total Assets - %']]
filtered_df.head()

,Company Common Name,ESG Score,Gross Profit Margin - %,Return on Average Total Assets - %
1,NaN,2022.0,2022.0,2022.0
2,Deere & Co,72.53285105,30.11556,8.188625505
3,Fortive Corp,52.28061879,57.73383,4.668053319
4,Energy Transfer LP,35.15829576,14.99844,5.546156536
5,Conocophillips,69.15836688,38.23604,20.25042008

In [4]:
#doing some calculations to find null values
null_values = filtered_df.isna().sum()
print(null_values)

Company Common Name                   1
ESG Score                             0
Gross Profit Margin - %               1
Return on Average Total Assets - %    1
dtype: int64

In [5]:
# Test 1: Correlation between ESG Score and Gross Profit Margin

'''One possible hypothesis test is to examine the correlation between ESG Score and a profitability metric like Return on Average Total Assets (ROA).

Hypothesis:
Null hypothesis (H0): There is no correlation between ESG Score and Gross Profit Margin
Alternative hypothesis (H1): There is a correlation between ESG Score and Gross Profit Margin


This code calculates the Pearson correlation coefficient and the p-value. If the p-value is less than your chosen significance level (e.g., 0.05), you can reject the null hypothesis in favor of the alternative hypothesis, which would suggest that there is a correlation between ESG Score and Gross Profit Margin
A positive correlation coefficient would indicate that companies with higher ESG scores tend to have higher profitability (measured by ROA), while a negative correlation coefficient would suggest the opposite.
'''

'One possible hypothesis test is to examine the correlation between ESG Score and a profitability metric like Return on Average Total Assets (ROA).\n\nHypothesis:\nNull hypothesis (H0): There is no correlation between ESG Score and Gross Profit Margin\nAlternative hypothesis (H1): There is a correlation between ESG Score and Gross Profit Margin\n\n\nThis code calculates the Pearson correlation coefficient and the p-value. If the p-value is less than your chosen significance level (e.g., 0.05), you can reject the null hypothesis in favor of the alternative hypothesis, which would suggest that there is a correlation between ESG Score and Gross Profit Margin\nA positive correlation coefficient would indicate that companies with higher ESG scores tend to have higher profitability (measured by ROA), while a negative correlation coefficient would suggest the opposite.\n'

In [6]:
import scipy.stats as stats
import numpy as np
import scipy.stats as stats

# Remove rows with NaN values in ESG Score and Return on Average Total Assets columns
clean_data = filtered_df[['ESG Score', 'Gross Profit Margin - %']].dropna()

# Convert columns to numeric data types
clean_data['ESG Score'] = pd.to_numeric(clean_data['ESG Score'], errors='coerce')
clean_data['Gross Profit Margin - %'] = pd.to_numeric(clean_data['Gross Profit Margin - %'], errors='coerce')

# Remove any rows with NaN values after the conversion
clean_data = clean_data.dropna()

# Perform Pearson correlation test
correlation_coefficient, p_value = stats.pearsonr(clean_data['ESG Score'], clean_data['Gross Profit Margin - %'])

print("Correlation Coefficient:", correlation_coefficient)
print("p-value:", p_value)

Correlation Coefficient: 0.9923994478351216
p-value: 1.3026869453642228e-63

In [7]:
#Test 2: Two-Sample T-Test

'''
Null hypothesis (H0): 
There is no difference in the mean profitability between companies with high ESG scores and companies with low ESG scores.

Alternative hypothesis (H1): 
There is a difference in the mean profitability between companies with high ESG scores and companies with low ESG scores.

Split the dataset into two groups based on their ESG scores. Use the median ESG score as a threshold to separate high and low ESG score groups. Then, we will perform a two-sample t-test using the Return on Average Total Assets (ROA) as a measure of profitability.
If the p-value is less than your chosen significance level (e.g., 0.05), you can reject the null hypothesis in favor of the alternative hypothesis. This would suggest that there is a significant difference in the mean profitability (measured by ROA) between companies with high ESG scores and companies with low ESG scores. A positive t-statistic would indicate that companies with higher ESG scores have higher average profitability, while a negative t-statistic would suggest the opposite.
'''

'\nNull hypothesis (H0): \nThere is no difference in the mean profitability between companies with high ESG scores and companies with low ESG scores.\n\nAlternative hypothesis (H1): \nThere is a difference in the mean profitability between companies with high ESG scores and companies with low ESG scores.\n\nSplit the dataset into two groups based on their ESG scores. Use the median ESG score as a threshold to separate high and low ESG score groups. Then, we will perform a two-sample t-test using the Return on Average Total Assets (ROA) as a measure of profitability.\nIf the p-value is less than your chosen significance level (e.g., 0.05), you can reject the null hypothesis in favor of the alternative hypothesis. This would suggest that there is a significant difference in the mean profitability (measured by ROA) between companies with high ESG scores and companies with low ESG scores. A positive t-statistic would indicate that companies with higher ESG scores have higher average profitability, while a negative t-statistic would suggest the opposite.\n'

In [8]:
import numpy as np
import scipy.stats as stats


# Remove rows with NaN values in ESG Score and Return on Average Total Assets columns
clean_data = filtered_df[['ESG Score', 'Return on Average Total Assets - %']].dropna()

# Convert columns to numeric data types
clean_data['ESG Score'] = pd.to_numeric(clean_data['ESG Score'], errors='coerce')
clean_data['Return on Average Total Assets - %'] = pd.to_numeric(clean_data['Return on Average Total Assets - %'], errors='coerce')

# Remove any rows with NaN values after the conversion
clean_data = clean_data.dropna()

# Determine the median ESG score
median_esg_score = np.median(clean_data['ESG Score'])

# Split the data into two groups based on ESG scores
high_esg = clean_data[clean_data['ESG Score'] > median_esg_score]['Return on Average Total Assets - %']
low_esg = clean_data[clean_data['ESG Score'] <= median_esg_score]['Return on Average Total Assets - %']

# Perform a two-sample t-test
t_stat, p_value = stats.ttest_ind(high_esg, low_esg, equal_var=False)

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 0.9376473422504907
p-value: 0.35502511303390794

In [9]:
#Test 3: Two-Sample T-test Gross Profit Margin and Cost

In [10]:
'''
H0 (null hypothesis): There is no significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores. In other words, the average gross profit margin is the same for both groups.

Ha (alternative hypothesis): There is a significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores. The average gross profit margin is not the same for both groups.

After performing the t-test, we obtain a p-value. If the p-value is smaller than a predetermined significance level (e.g., 0.05), we reject the null hypothesis in favor of the alternative hypothesis. This would mean that there is a significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores.

If the p-value is greater than or equal to the significance level, we fail to reject the null hypothesis, which means we do not have enough evidence to conclude that there is a significant difference in the gross profit margins between the two groups.
'''

'\nH0 (null hypothesis): There is no significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores. In other words, the average gross profit margin is the same for both groups.\n\nHa (alternative hypothesis): There is a significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores. The average gross profit margin is not the same for both groups.\n\nAfter performing the t-test, we obtain a p-value. If the p-value is smaller than a predetermined significance level (e.g., 0.05), we reject the null hypothesis in favor of the alternative hypothesis. This would mean that there is a significant difference in the gross profit margins between companies with high ESG scores and those with low ESG scores.\n\nIf the p-value is greater than or equal to the significance level, we fail to reject the null hypothesis, which means we do not have enough evidence to conclude that there is a significant difference in the gross profit margins between the two groups.\n'

In [11]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Assuming 'filtered_df' is the DataFrame you have created earlier

# Remove rows with NaN values in ESG Score and Gross Profit Margin columns
clean_data = filtered_df[['ESG Score', 'Gross Profit Margin - %']].dropna()

# Convert columns to numeric data types
clean_data['ESG Score'] = pd.to_numeric(clean_data['ESG Score'], errors='coerce')
clean_data['Gross Profit Margin - %'] = pd.to_numeric(clean_data['Gross Profit Margin - %'], errors='coerce')

# Remove any rows with NaN values after the conversion
clean_data = clean_data.dropna()

# Determine the median ESG score
median_esg_score = np.median(clean_data['ESG Score'])

# Split the data into two groups based on ESG scores
high_esg = clean_data[clean_data['ESG Score'] > median_esg_score]['Gross Profit Margin - %']
low_esg = clean_data[clean_data['ESG Score'] <= median_esg_score]['Gross Profit Margin - %']

# Perform a two-sample t-test
t_stat, p_value = stats.ttest_ind(high_esg, low_esg, equal_var=False)

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 0.7669910816904055
p-value: 0.4483442648039112